@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-container {
    background: white;
    width: 800px;
    height: 500px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: -19px 26px 129px -73px rgba(0, 0, 0, 0.75);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;

  }

  .content-container:hover {
    transform: scale(1.05);
}
  
  .logo {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .dynamic-text {
    font-size: 1.8rem;
    margin-bottom: 10px;
    padding: 1%;
    font-weight: 600;
    color: #2a4c77;
    opacity: 0;
    animation: fadeInOut 6s infinite;
  }
  
  button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    align-items: center;
    display: flex;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid rgb(0, 119, 181);
    border-radius: 25px;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    color: rgb(0, 119, 181);
    transition: color 0.3s 0.1s ease-out;
  }
  
  button span {
    margin: 10px;
    text-decoration: none;

  }
  
  button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
    text-decoration: none;

  }
  
  button:hover {
    color: #fff;
    border: 1px solid rgb(0, 119, 181);
  }
  
  button:hover::before {
    box-shadow: inset 0 0 0 10em rgb(0, 119, 181);
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }



/* Media Queries para responsive design */
@media (max-width: 768px) {
    .content-container {
      width: 80%;
      padding: 15px;
      border-radius: 20px;
    }
  
    .logo {
      width: 300px;
      margin-bottom: 15px;
    }
  
    .dynamic-text {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
  
    button {
      font-size: 0.9rem;
      padding: 8px 15px;
    }
  }
  
  @media (max-width: 480px) {
    .content-container {
      width: 80%;
      padding: 10px;
      border-radius: 15px;
    }
  
    .logo {
      width: 250px;
      margin-bottom: 10px;
    }
  
    .dynamic-text {
      font-size: 1.2rem;
      line-height: 1.4;
      margin-bottom: 10px;
    }
  
    button {
      font-size: 0.8rem;
      padding: 5px 10px;
    }
  }